.view-default .nav-bar {
  position: sticky;
  width: 100%;
  background: white;
  top: 0;
}

.view-default .nav-bar-tabs {
  display: flex;
  justify-content: center;
}

.view-default .nav-tab {
  padding: 6px 20px 7px 20px;
  display: inline;
  font-weight: 700;
  font-size: 14px;
  border: none;
  background: transparent
}

.view-default .nav-tab:focus {
  outline: none;
}

.view-default .nav-tab:focus-visible {
  background-color: var(--magical-green-10);
}

.view-default .nav-tab.selected {
  color: var(--magical-secondary-60);
  border-bottom: 2px solid var(--magical-secondary-60);
  outline: none;
}

.view-default hr {
  margin-top: 0;
  margin-bottom: 12px;
}

.view-default .tab-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.view-default .tab-dropdown-item {
  display: flex;
  align-items: center;
  padding: 0 0 8px 0;
}

.view-default .tab-dropdown-item > p {
  flex-grow: 1;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}

.view-default .tab-dropdown-expansion {
  margin-bottom: 12px;
}

.view-default .help-card {
  border-radius: 8px;
  background: var(--magical-gray-10);
  padding: 14px 14px 5px 14px;
  text-align: center;
  margin-bottom: 12px;
}

.view-default .help-card h3 {
  font-size: 14px;
  font-weight: bold;
  color: var(--magical-gray-80);
  text-align: left;
}

.view-default .help-card h4 {
  font-size: 12px;
  font-weight: bold;
  color: var(--magical-gray-50);
  margin-bottom: 0;
  margin-top: 10px;
}

.view-default .help-card p {
  font-size: 12px;
  color: var(--magical-gray-80);
  line-height: 16px;
  text-align: left;
  margin-bottom: 0;
}

.view-default .help-card-edit-variables {
  color: var(--magical-primary-60);
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  display: inline;
}

.view-default .help-card-example-variables {
  margin-top: 10px;
}

.view-default .other-sources-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.view-default .other-sources-item {
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  background: var(--magical-green-10);
  border: 1px dashed #06AA00;
  margin-bottom: 5px;
  display: flex;
  cursor: pointer;
}

.view-default .other-sources-item h3 {
  font-size: 14px;
  font-weight: bold;
  color: var(--magical-green-80);
  margin: 0;
}

.view-default .other-sources-item p {
  font-size: 12px;
  color: var(--magical-green-80);
  margin: 0;
}

.view-default .other-sources-item:hover, .view-default .other-sources-item:focus {
  background-color: var(--magical-secondary-20);
  color: var(--magical-secondary-80);
  border-color: var(--magical-secondary-70);
}

.view-default .other-sources-item:active{
  background-color: var(--magical-secondary-30);
  color: var(--magical-secondary-80);
  border-color: var(--magical-secondary-70);
}

.view-default .other-sources-favicon {
  margin: auto 11px auto 0;
}

.view-default .other-sources-text {
  flex-grow: 1;
}

.view-default .other-sources-text, 
.view-default .other-sources-text h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.variable-beta-icon {
  margin-left: 1px;
}
