html, body {
  background: none transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.modified-variables-form {
  background-color: var(--magical-background-color);
  font-family: 'Magical DM Sans', sans-serif;
  padding: 24px;
  margin-block-end: 0;
  border-radius: 8px;
  max-width: 30%;
}

form h2 {
  color: var(--magical-gray-80);
  margin: 4px 0px 4px 0px;
  font-weight: bold;
  font-size: 1.25rem;
}

.split-graphic {
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.modified-variables-form p {
  color: var(--magical-gray-60);
  margin-bottom: 0.5rem;
}

.dialog-header-container, 
.input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px 0px;
}

.dialog-header-title {
  display: flex;
  align-items: center;
}

.dialog-header-title svg {
  margin-right: 7px;
}

.input-container .modifier-container {
  max-width: 50%;
}

.input-container .right {
  text-align: right;
}

.input-container .variable-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
