html,
body {
  background: none transparent;
}

.placeholder-form {
  background-color: var(--magical-background-color);
  padding: 24px;
  margin-block-end: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

form h1 {
  color: var(--magical-gray-80);
  margin: 4px 0 4px 0;
  font-weight: bold;
  font-size: 1.25rem;
}

input[data-magical-placeholder-src-id] {
  padding: 0 8px;
  width: 160px;
  background-color: #D7FFCF;
  border: 1px solid #008201;
  height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

p {
  font-size: 14px;
  line-height: 20px;
}
