alacritty
amfora
Android Messages
Android Messages (development)
bashtop
btop
cef_user_data
chromium
cmus
coc
colors
configstore
cordless
dconf
ddunstrc
discord
dunst
eDEX-UI
Electron
fontconfig
glava
google-chrome
gtk-3.0
gvim
hangups
helm
htop
i3
ibus
k9s
KeyUp
lazygit
lf
litecli
lynx
mappings
menus
mimeapps.list
monad
mpv
mutt
mutt-wizard.muttrc
neofetch
Neovim-from-scratch
nvim
nvimBak
obs-studio
pavucontrol.ini
powerlevl9k
procps
pulse
QtProject.conf
qutebrowser
ranger
rofi
settings
Slack
spotify-tui
syncthing
Unknown Organization
vimb
vis
wireshark
yay
zoomus.conf
backuprd
buttrc
cMontyrc
colormuttrc
home
neomutt/accounts/
neomutt/utils/aliases

