@import url('./variables.css');

.banner {
  text-align: center;
  padding: 5px;
  font-size: 0.8em;
}

.banner.warning {
  background: var(--magical-orange-10);
  color: var(--magical-orange-70);
}

.banner .banner-title {
  font-weight: 700;
}

.banner a {
  color: var(--magical-primary-60);
  font-weight: 700;
}

.banner > .close {
  margin-left: 8px;
  vertical-align: middle;
}

.banner > svg {
  margin-right: 8px;
  vertical-align: middle;
}

#sidebar-content-join-now {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}
