/**
* Injected into all Magical UI scopes (our own documents or shadow content), not third-party ones.
*/

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  background-color: var(--magical-background-color);
  color: var(--magical-foreground-color);
}

body {
  font-family: 'Magical DM Sans', sans-serif;
  font-size: 1rem;
  margin: 0;
}

[hidden] {
  /** 
    * Use important to ensure other display properties don't override this.
    * For example, having a class with display:flex on an element with 
    * the hidden attribute would override the display:none
    */
  display: none !important;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

textarea::placeholder,
[data-placeholder]:empty::before {
  color: var(--magical-gray-50);
}

[data-vertical-scrolling-container] {
  overflow-y: auto;
}

.magical-goog-user-content-favicon {
  width: 16px;
}

/* TODO: Rename to remove "right-rail" reference since this is in common */
.right-rail-gif {
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}
