.confirmation-container {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  width: 100%;
  margin: 0 12px 0 12px;
}

.confirmation-container .confirmation-body {
  color: var(--magical-gray-80);
  font-weight: 400;
  margin-inline-end: 20px; 
}

.confirmation-container .secondary {
  margin-left: 4px;
}
