/**
 * Default styles shared by all content panels.
 */

body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}

h1 {
  /* Use up space before the close button */
  flex-grow: 1;
}

.subtitle {
  margin-block: 8px;
}

.header {
  align-items: flex-start;
  display: flex;
}
