#share-copy-url {
  width: 100%;
  display: inline-flex;
}

input {
  background: white;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--magical-gray-20);
  border-right-width: 0;
  color: black;
  font-size: 14px;
  padding: 8px;
  width: 100%;
  font: inherit;
}

#share-copy {
  background-color: var(--magical-primary-60);
  border-radius: 0 5px 5px 0;
  color: #efefef;
  padding: 6px 11px;
  border: 1px solid var(--magical-gray-20);
  font-weight: 700;
}

#share-copy:focus {
  background-color: var(--magical-green-60);
}

#share-copy-url + svg {
  margin-right: 32px;
  vertical-align: top;
}

.share-link-copied {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    color: var(--magical-green-60);
  }
