.progress-bar {
  --progress-percent-done: 5%;
  margin-top: 5px;
  height: 4px;
  left: 0px;
  top: 0px;
  background: linear-gradient(to right, var(--magical-secondary-70) var(--progress-percent-done), var(--magical-gray-20) 0%);
  border-radius: 4px;
}

.progress-text {
  flex-grow: 1;
  display: flex;
  margin-top: 2px;
}

.progress-text .link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.progress-text.done {
  justify-content: center;
}

.checklist-progress-container {
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background: var(--magical-gray-00);
  border: 1px solid var(--magical-gray-10);
}

.checklist-progress-clickable:hover {
  background: var(--magical-gray-10);
}

.checklist-progress-clickable:active {
  background: var(--magical-gray-20);
}

.checklist-progress-container h3 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.checklist-progress-not-clickable {
  background:transparent;
  border:none;
  cursor:default;
}

.checklist-progress-container p {
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
}

.checklist-progress-checklist {
  flex-grow: 1;
}

.checklist-progress-name {
  overflow :hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checklist-progress-text {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.checklist-top-text {
  display: flex;
  align-items: center;
}

.checklist-open {
  display: flex;
  justify-content: center;
}
