#tinymce {
  font-size: .875em; 
  line-height: 1.25em; 
  margin: 6px 12px;
}

.grow-wrap::after,
input,
textarea {
  border-radius: 8px;
  color: var(--magical-gray-80);
  font: inherit;
  font-size: 0.9em;
  padding: 8px 12px;
}

/** Auto-growing <textarea>: https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  overflow-wrap: break-word;
  overflow: auto;
}

.grow-wrap > textarea,
.panel-rich-text-incompatible > textarea {
  outline: none;
  /* Disable manually resizing since it breaks the auto sizing. */
  resize: none;
}

.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  padding: 0.5rem;
  max-height: 70vh;
}

.rich-text-unsupported {
  align-items: center;
  border-top: 1px solid var(--magical-gray-20);
  color: var(--magical-gray-60);
  fill: var(--magical-gray-60);
  font-size: 0.75rem;
  display: none;
}

.grow-wrap:focus-within + .rich-text-unsupported,
.panel-rich-text-incompatible:focus-within + .rich-text-unsupported {
  display: flex;
}

.rich-text-unsupported > svg {
  margin: 8px;
}

.grow-wrap > textarea,
.grow-wrap::after {
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.panel-rich-text-incompatible,
.panel-rich-text-incompatible > textarea {
  height: 200px;
}

.panel-rich-text-incompatible > textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.panel-rich-text-incompatible,
.panel-rich-text-incompatible > textarea {
  height: 200px;
}

.panel-rich-text-incompatible > textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.body-field-readonly {
  border: none;
  /* Allow listening for clicks on this outside the `<iframe>`. */
  pointer-events: none;
  width: 100%;
}

.body-field-wrapper {
  position: relative;
}

.body-field-wrapper .tox-tinymce {
  max-height: 70vh;
}

/* Inherit the background color of .body-field */
.body-field-wrapper textarea,
.body-field-wrapper .tox .tox-toolbar-overlord,
.body-field-wrapper .tox .tox-edit-area__iframe,
.body-field-wrapper .tox .tox-toolbar,
.body-field-wrapper .tox .tox-toolbar__overflow,
.body-field-wrapper .tox .tox-toolbar__primary {
  background: none;
}

/* We don't want a border for the editor, editor toolbars, or toolbar groups */
.grow-wrap::after,
.body-field-wrapper textarea,
.body-field-wrapper .tox-tinymce,
.body-field-wrapper .tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-toolbar-overlord:first-child .tox-toolbar__primary,
.body-field-wrapper .tox-tinymce-inline .tox-editor-header {
  border: none;
}

.body-field-wrapper .tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-toolbar {
  border-top: 1px solid var(--magical-gray-20) !important;
}

/* Hide editor toolbars by default. */
.body-field-wrapper .tox-editor-header {
  bottom: 0;
  visibility: hidden;
  position: absolute;
}

.variable-picker > nav {
  display: flex;
}

.variable-picker > nav > div {
  width: 32px;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  text-align: center;
  cursor: pointer;
  margin-right: 4px;
  background: var(--magical-gray-20);
  padding: 2px 0;
  position: relative;
}

.variable-picker > nav > div > span > svg,
.variable-picker > nav > div > img {
  vertical-align: middle;
}

.variable-picker > nav > div.variable-picker-tab-header > svg {
  position: absolute;
  top: 0;
  right: 0;
}

.variable-picker > nav > div.selected > svg > circle {
  fill: white;
}

.variable-picker > nav > div.disabled > svg > circle {
  fill: var(--magical-gray-40);
}

.variable-picker > nav > div.selected {
  background: white;
}

.variable-picker > nav > div.disabled {
  background: var(--magical-gray-40);
  opacity: 0.4;
  cursor: not-allowed;
}

.variable-picker > nav > div.variable-picker-tab-beta-icon {
  background: none;
  width: auto;
}

form[role="row"][data-mode="edit"] .variable-picker,
.panel-view .variable-picker {
  visibility: visible;
}

/* Hide editor toolbars by default. */
.variable-picker {
  background: var(--magical-gray-10);
  padding: 8px;
  visibility: hidden;
}

.body-field-wrapper.read-only {
  /* Make it obvious that the user can click to edit the body. */
  cursor: text;
}

.body-field-wrapper.disabled {
  cursor: default;
}

/* Show editor toolbars if the body has focus or the row is dirty. */
.body-field-wrapper:focus-within .tox-editor-header,
.body-field-wrapper.focus-inside .tox-editor-header {
  visibility: visible;
  position: sticky;
}

/* Show editor toolbars if the body has focus or the row is dirty. */
.variable-picker:focus-within,
.variable-picker.focus-inside {
  visibility: visible;
}

/* Formatting toolbar popup appearance */
.body-field-wrapper .tox-toolbar:first-of-type {
  border: 1px solid var(--magical-gray-20);
  border-radius: 4px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.15), -2px 2px 0px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  margin-inline-start: 8px;
}

/* Hide the formatting toolbar when it's not toggled on */
.body-field-wrapper:not(.formatting-toolbar-showing) .tox-toolbar:first-of-type {
  display: none;
}

/* Style the "Powered by Tiny" custom button. */
.body-field-wrapper .tox-toolbar:first-of-type > .tox-toolbar__group:last-of-type > .tox-tbtn:last-of-type {
  /* Disable hover styles */
  background: none;
  /* Grow to the necessary width since the icon isn't square. */
  width: auto;
}

/* For now we aren't showing dropmarkers on menu buttons. */
.body-field .tox .tox-tbtn__select-chevron {
  display: none;
}

/* Hide the group separators on the primary toolbar. */
.body-field-wrapper .tox .tox-toolbar:last-of-type .tox-toolbar__group {
  border: 0;
}

.snippet-base-url-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}
