.shortcut-tag {
  background-color: var(--magical-tag-purple);
  padding: 2px 8px;
  border-radius: 4px;
  color: var(--magical-gray-80);
}

.shortcut-tag > svg {
  margin-right: 4px;
}

.shortcut-tag.red-purple {
  background-color: var(--magical-tag-red-purple);
}

.shortcut-tag.purple {
  background-color: var(--magical-tag-purple);
}

.shortcut-tag.gray {
  background-color: var(--magical-tag-gray);
}

.shortcut-tag.blue{
  background-color: var(--magical-tag-blue);
}

.shortcut-tag.teal {
  background-color: var(--magical-tag-teal);
}

.shortcut-tag.green {
  background-color: var(--magical-tag-green);
}

.shortcut-tag.yellow {
  background-color: var(--magical-tag-yellow);
}

.shortcut-tag.orange {
  background-color: var(--magical-tag-orange);
}

.shortcut-tag.red-orange {
  background-color: var(--magical-tag-red-orange);
}

.shortcut-tag.red {
  background-color: var(--magical-tag-red);
}
