.toast {
  --toast-bottom: 16px;
  --toast-margin: 16px;
  --toast-padding: 12px;
  --toast-width: 65vw;
  border-radius: 8px;
  /* Center the toast */
  left: calc(50vw - var(--toast-width) / 2);
  opacity: 0;
  padding: 12px;
  position: fixed;
  text-align: center;
  width: var(--toast-width);
  /** The highest value used in the options page (but below the panel) so this is on top (since it's last in the document order). */
  z-index: 10;
}

#toast-success.toast:not(:empty) {
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 3 seconds */
  animation: toast-in 0.5s forwards, toast-out 0.5s 3s forwards;
}

#toast-info.toast:not(:empty) {
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 5 seconds */
  animation: toast-in 0.5s forwards, toast-out 0.5s 5s forwards;
}

#toast-error.toast:not(:empty) {
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 7 seconds */
  animation: toast-in 0.5s forwards, toast-out 0.5s 7s forwards;
}

@keyframes toast-in {
  from {bottom: 0; opacity: 0;}
  to {bottom: var(--toast-bottom); opacity: 1;}
}

@keyframes toast-out {
  from {bottom: var(--toast-bottom); opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 
