span[data-magical-source-id],
.ha-selection,
.ha-selection-hover {
  border-radius: 5px;
  outline-width: 1px;
  outline-style: dashed;
}

.ha-selection-hover {
  background: #D2E1FF;
  border-color: #0000FF;
  color: #00059A;
  text-decoration: none;
}

span[data-magical-source-id],
.ha-selection {
  background: rgb(215, 255, 207);
  outline-color: rgb(6, 170, 0);
  border-image: initial;
  box-shadow: 0 0 black;
  color: rgb(0, 90, 4);
}

span[data-magical-source-id] {
  border-radius: 8px;
  max-width: 150px;
  overflow: hidden;
  padding: 0 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span[data-magical-is-placeholder]::after {
  content: url('../assets/snippet-icon.svg');
  width: 16px;
  height: 16px;
  padding: 0 3px;
  display: inline-block;
  vertical-align: text-bottom;
}
