:host,
:root {
  --magical-dropdown-max-width: 300px;

  --magical-right-rail-outer-padding: 24px;
  --magical-right-rail-footer-bottom-padding: 16px;

  /** Colors **/
  --magical-background-color: white;
  --magical-foreground-color: var(--magical-gray-80);

  /* Primary */
  --magical-primary-00: #EEF4FF;
  --magical-primary-10: #D2E1FF;
  --magical-primary-20: #ACC1FF;
  --magical-primary-40: #576BFF;
  --magical-primary-50: #2B37FF;
  --magical-primary-60: #0000FF;
  --magical-primary-70: #0004D3;
  --magical-primary-80: #00059A;
  --magical-primary-90: #000457;
  
  /* Secondary */
  --magical-secondary-00: var(--magical-green-00);
  --magical-secondary-10: var(--magical-green-10);
  --magical-secondary-20: #AFFBA3;
  --magical-secondary-30: #83F175;
  --magical-secondary-60: var(--magical-green-60);
  --magical-secondary-70: #008201;
  --magical-secondary-80: #005A04;

  /* Grays */
  --magical-gray-80: #222528;
  --magical-gray-70: #323539;
  --magical-gray-60: #4B5056;
  --magical-gray-50: #6F747C;
  --magical-gray-40: #969DA6;
  --magical-gray-30: #BBC2CB;
  --magical-gray-20: #D8DFE7;
  --magical-gray-10: #E9EEF4;
  --magical-gray-00: #F4F7FB;

  /* Greens */
  --magical-green-00: #F1FFEB;
  --magical-green-10: #D7FFCF;
  --magical-green-60: #06AA00;
  --magical-green-80: #005A04;

  /* Reds */
  --magical-red-10: #FFD1D1;
  --magical-red-60: #CE0000;
  --magical-red-70: #9B0000;

  /* Orange */
  --magical-orange-10: #FFE0B5;
  --magical-orange-20: #FFD382;
  --magical-orange-70: #883904;
  --magical-orange-80: #5F240A;

  /* Tag Colors */
  --magical-tag-red-purple: #F9DCF4;
  --magical-tag-purple: #EBE3FC;
  --magical-tag-gray: #E9EEF4;
  --magical-tag-blue: #D6EFFC;
  --magical-tag-teal: #CCF3E9;
  --magical-tag-green: #D9F5C8;
  --magical-tag-yellow: #F7F9B8;
  --magical-tag-orange: #FBEABC;
  --magical-tag-red-orange: #F9E3D7;
  --magical-tag-red: #F9DEE5;
  ;
}
