@import url('../shared-ui-components/variables.css');
@import url('../shared-ui-components/fonts.css');
@import url('../shared-ui-components/tags.css');

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  display: flex;
  /* Flex-grow #container to fill the height not occupied by the "sticky" headers. */
  flex-direction: column;
  font-size: 1em;
  height: 100vh;
  margin: 0;
  /* #container will do the horizontal scrolling instead so the headers appear sticky. */
  overflow-y: hidden;
}

ol {
  margin: 0;
  padding-left: 20px;
}

/** Support for "placeholders" on arbitrary elements (e.g. [contenteditable]). */
[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  display: block;
}

.body-field,
input {
  border: 1px solid var(--magical-gray-20);
  border-radius: 8px;
  background-color: var(--magical-gray-10);
}

.body-field {
  overflow: hidden;
}

input[type="checkbox"] {
  cursor: pointer;
}

.grow-wrap::after {
  color: var(--magical-gray-80);
}

.grow-wrap::after,
input,
textarea {
  border-radius: 8px;
  font-size: 0.9em;
  padding: 8px 12px;
}

.shortcut-row-body {
  position: relative;
}

.shortcut-row-trigger {
  position: relative;
}

button.search-button {
  display: inline-flex;
  height: 28px;
  border-radius: 24px;
  border: none;
  margin-left: auto;
}


#container {
  flex-grow: 1;
  overflow-y: auto;
  /* When scrolling, leave a top gap for the sticky bulk actions. */
  scroll-padding-top: 60px;
  /* Center the <main> and sidebar horizontally within this. */
  text-align: center;
}

#container > *:not(.toast) {
  /* Don't let text-align:center be inheritted. */
  text-align: initial;
}

main {
  display: flex;
  justify-content: center;
}

.options-main {
  display: inline-block;
  margin-inline-end: 24px;
  width: 688px;
}

main > section {
  margin-block: 24px;
}

.options-card {
  border-radius: 8px;
  padding: 12px;
}

main h2 {
  font-size: 1.4rem;
  line-height: calc(20 / 16);
  margin-bottom: 0;
}

main h2:first-of-type {
  margin-block-start: 0;
}

#promo-iframe,
#convert-shortcut-iframe {
  border: none;
  height: 280px;
  width: 100%;
  padding: 0;
}

#promo-iframe-close,
#try-shortcut-close {
  float: right;
  position: relative;
  cursor: pointer;
}

#promo-iframe-close {
  height: 0;
  top: 10px;
  right: 15px;
}

.close-dialog-button {
  float: right;
}

#join-now-button {
  background-color: var(--magical-primary-40);
  height: 100%;
  align-self: center;
}

#host-permissions-section {
  border-radius: 8px;
  text-align: center;
  background: var(--magical-red-10);
}

dialog {
  border-radius: 8px;
  border: none;
  max-width: 60%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog p {
  color: var(--magical-gray-60);
}

#import-dialog textarea {
  width: 100%;
  min-height: 30vh;
}

#import-dialog textarea:invalid {
  border: 1px solid #CE0000;
}

#import-error {
  color: #CE0000;
  visibility: hidden;
}

#import-dialog textarea:invalid ~ #import-error {
  visibility: visible;
}

#guest-share-shortcuts-dialog,
#create-tag-dialog,
#edit-tag-dialog,
#delete-tag-dialog {
  width: 440px;
}

#create-tag-dialog input,
#edit-tag-dialog input {
  width: 70%;
  height: 48px;
  background: white;
  border: 1px solid var(--magical-gray-50);
}

.shortcuts-label-small-margins {
  margin: 0.75rem 0
}

.shared-shortcuts-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
}

.share-shortcuts-subtitle {
  text-align: left;
}

#share-shortcuts-dialog {
  min-width: 525px;
  max-width: 525px;
  padding: 0;
}

.share-shortcuts-top {
  margin: 24px 24px 0 24px;
}

.share-shortcuts-title {
  font-weight: 700;
}

.share-shortcuts-bottom {
  background-color: var(--magical-gray-10);
  margin-top: 15px;
  padding: 13px 24px 24px 24px;
  text-align: left;
}

.share-shortcuts-bottom h1 {
  font-size: 20px;
  font-weight: 700;
}

.share-shortcuts-bottom svg {
  margin-left: 20px;
  margin-top: 13px;
}

#share-shortcuts-learn-link a {
  font-size: 12px;
  font-weight: 700;
  color: var(--magical-primary-60)
}

.shared-shortcuts-number {
  font-weight: 700;
  font-size: 48px;
  fill: var(--magical-gray-80);
}

.shared-shortcuts-label {
  font-weight: 400;
  fill: var(--magical-gray-60);
}

#create-html-shortcut-dialog {
  max-width: 480px;
  padding: 0 24px 16px 24px;
}

#create-html-shortcut-dialog p {
  font-size: 14px;
}

#create-html-shortcut-dialog img {
  border-radius: 8px;
  border: 1px solid var(--magical-gray-20);
}

#create-html-shortcut-dialog img + svg {
  position: absolute;
  margin-top: -42px;
  margin-left: 32px;
}

#recovery-overwrite-dialog,
#recovery-dialog,
#delete-dialog {
  width: 30%;
  min-width: 480px;
}

#recovery-dialog menu,
#delete-dialog menu {
  padding: 0;
}

#delete-tag-label {
  font-weight: bold;
}

#recovery-dialog menu button {
  width: 100%;
}

#recovery-dialog menu p {
  margin-top: 0;
}

#bulk-actions {
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--magical-gray-20);
  background-color: var(--magical-background-color);
  margin-block: 0;
  position: sticky;
  top: 0;
  /** Greater than `.tox .tox-editor-header` from TinyMCE. */
  z-index: 2;
}

#bulk-actions > input {
  background: url('../assets/search-icon.svg') no-repeat scroll 8px;
  border: 1px solid var(--magical-gray-50);
  padding-left: 30px;
  background-color: var(--magical-background-color);
}

#bulk-actions > div,
#bulk-actions > div > span {
  display: flex;
  align-items: center;
}

#bulk-actions fieldset {
  border: 0;
  padding: 0;
  display: flex;
}

#bulk-actions fieldset > * {
  margin-left: 8px;
}

.banner-container {
  flex-grow: 1;
}

.filter-banner {
  padding: 4px 10px;
  background: var(--magical-green-00);
  border-radius: 8px;
  color: var(--magical-secondary-70);
  font-size: 14px;
  text-align: center;
}

.filter-banner > a {
  margin: 0;
}

.no-filter-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.no-filter-results-text {
  display: flex;
  flex-direction: column;
}

.no-filter-results-text .no-filter-heading {
  font-weight: bold;
}

.no-filter-results-text .no-filter-body {
  color: var(--magical-gray-60);
}

.no-shortcuts,
.no-shortcuts .no-shortcuts-text,
.no-shortcuts .no-shortcuts-text .no-shortcuts-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-shortcuts > svg {
  margin-block-end: 16px;
}

.no-shortcuts .no-shortcuts-text .no-shortcuts-heading {
  font-weight: bold;
  margin-block-end: 8px;
}

.no-shortcuts .no-shortcuts-text .no-shortcuts-body .workspace-link {
  color: var(--magical-primary-70);
  cursor: pointer;
}

/** Snippets/shortcuts list */

#snippets {
  margin-top: 0;
  /* Don't let the footer links move too far up the page */
  min-height: 40vh;
}

header[role="row"] {
  margin: 8px 8px 4px 8px;
}

div[role="columnheader"] {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  color: var(--magical-gray-60);
  line-height: 16px;
}

div[role="columnheader"]:first-child {
  margin-left: 30px;
}

div[role="columnheader"]:first-child,
.trigger-field {
  margin-inline-end: 8px;
  width: 104px;
}

form[role="row"] {
  margin: 0 0 8px 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.shortcut-labels-container {
  text-align: end;
  margin-top: 8px;
  width: 502px;
}

.shortcut-labels-container > .shortcut-tag {
  font-size: 0.9em;
  margin-left: 8px;
  max-width: 150px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.trigger-field {
  font-weight: bold;
}

form[role="row"][data-mode="edit"] .body-field,
form[role="row"][data-mode="edit"] input {
  background: white;
}

form[role="row"][data-mode="teams"] {
  cursor: default;
}

form[role="row"][data-mode="normal"]:hover:not([data-is-in-conflict]),
form[role="row"][data-mode="normal"][data-is-selected]:not([data-is-in-conflict]),
form[role="row"][data-mode="teams"]:hover {
  background: var(--magical-gray-00);
}

form[role="row"][data-mode="edit"] {
  background: var(--magical-primary-10);
}

form[role="row"][data-mode="added"] {
  background: var(--magical-secondary-10);
}

form[role="row"][data-mode="edit"] .edit-controls button {
  margin-inline-start: 8px;
  width: auto;
}

form[role="row"][data-mode="edit"] .edit-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

div[role="cell"] {
  display: inline-block;
  vertical-align: top;
}

div[role="cell"]:first-child {
  width: 30px;
}

div[role="columnheader"]:nth-child(2),
.body-field,
.grow-wrap,
.grow-wrap::after,
.grow-wrap > textarea {
  width: 502px;
}

form[role="row"][data-mode="edit"] .grow-wrap + .rich-text-unsupported {
  display: flex;
}

form[role="row"][data-mode="edit"] .body-field-wrapper .tox-editor-header {
  visibility: visible;
  position: sticky;
}

.close-dialog-button,
.shortcut-button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.shortcut-button {
  margin-inline-start: 4px;
  /** Use opacity:0 so that it's still in the tab-order */
  opacity: 0;
}

form[role="row"][data-mode="teams"] .shortcut-button {
  opacity: 1;
}

.shortcut-button:focus,
form[role="row"][data-mode="edit"] .shortcut-button,
form[role="row"]:hover .shortcut-button {
  opacity: 1;
}

form[role="row"][data-is-in-conflict] {
  background: var(--magical-red-10);
}

form[role="row"][data-is-unsaved][data-mode="edit"] .shortcut-button {
  /** Deleting unsaved doesn't work yet so require users to cancel instead */
  visibility: hidden;
}

.shortcut-row-buttons {
  display: inline-flex !important;
  flex-direction: column;
}

#sidebar {
  color: var(--magical-gray-60);
  display: inline-block;
  position: sticky;
  top: 0;
  vertical-align: top;
  width: 204px;
}

.nav-section-end {
  border-bottom: 1px solid var(--magical-gray-20);
  padding-block-end: 16px;
}

.nav-section-end + li {
  padding-block-start: 16px;
}

#sidebar h2 {
  font-size: 1rem;
  font-weight: normal;
  line-height: calc(22 / 16);
  margin-block-end: 8px;
  padding-inline-start: 16px;
}

#sidebar ul {
  font-weight: bold;
  list-style: none;
  margin-block: 4px;
  padding-inline-start: 0;
}

#sidebar ul button,
#sidebar ul a {
  margin-block: 4px;
}

.team-sidebar {
  border: 1px solid var(--magical-gray-20);
  display: flex;
  flex-direction: column;
}

.team-sidebar .team-header {
  margin-block-end: 8px;
  font-weight: 700;
  font-size: 16px;
}

.team-sidebar .team-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
}

.team-sidebar .team-info img {
  margin-inline-end: 8px;
}

footer {
  text-align: center;
}

footer > .button-small {
  font-size: 12px;
}

#toast-success {
  background: var(--magical-green-60);
  color: white;
}

#toast-info {
  /* 21px is the height of the content with text. */
  --toast-bottom: calc(21px + 4 * var(--toast-padding) + 4 * var(--toast-margin));
  background: var(--magical-gray-60);
  color: white;
}

#toast-error {
  /* 21px is the height of the content with text. */
  --toast-bottom: calc(21px + 2 * var(--toast-padding) + 2 * var(--toast-margin));
  background: var(--magical-red-60);
  color: white;
}

#login-email {
  height: 1.5em;
  margin-left: 1em;
  font-size: 12px;
  color: var(--magical-gray-60)
}

#share-app-dialog {
  /* Allow the hand to extend from the border of the dialog. */
  padding-bottom: 0;
}

.sidebar-content-block {
  padding: 12px;
  left: 0;
  border-radius: 8px;
  margin-top: 10px;
}

.sidebar-content-block h1 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--magical-secondary-80);
  margin-bottom: 0;
}

.sidebar-content-block p {
  font-size: 12px;
  color: var(--magical-secondary-80);
  margin: 0;
}

#time-saved-emoji {
  display: flex;
}

#sidebar-content-share-app {
  width: 100%;
}

#referral-credits {
  background: var(--magical-gray-00);
}

#referral-credits > button {
  width: 100%;
}

#referral-credits > h2 {
  margin-bottom: 10px;
  padding: 0;
  font-weight: 700;
}

#time-saved {
  background: linear-gradient(90deg, #AFFBA3 0%, var(--magical-green-10) 100%);
}

#time-saved button {
  width: 100%;
}

#time-saved p {
  margin-block-end: 0;
  color: var(--magical-secondary-80);
}

#time-saved-text {
  margin-top: 4px;
  font-size: 14px;
}

#join-now-sidebar {
  background: var(--magical-orange-20);
}

#join-now-sidebar h1 {
  padding-bottom: 8px;
}

#join-now-sidebar p {
  color: var(--magical-orange-80);
  padding-left: 8px;
}

.sidebar-join-row {
  display: flex;
}

#sidebar-content-join-now {
  width: 100%;
}

.sign-up-button {
  cursor: pointer;
}

/* Navbar */
.topbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  background-color: var(--magical-background-color);
  width: 100%;
}

.nav-content {
  display: flex;
  width: 940px;
}

.nav-content.extended-nav {
  /* 940px + 228px for the tab sidebar */
  width: 1168px;
}

.nav-space {
  flex: 1 1 0%;
}

.nav-options {
  display: flex;
  align-items: center;
}

.nav-hidden {
  display: none;
}

.nav-logo-center {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 8px 0;
  background: none;
  border: none;
}

.profile-circle-container {
  display: inline-flex;
}

.content-panel-frame {
  border: none;
  border-radius: 10px;
  box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.15), -4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-right: 12px;
  pointer-events: auto;
}

.options-shortcut-help-frame {
  width: 230px;
  left: -127px;
  top: 40px;
  position: absolute;
  /** Same as `#bulk-actions` so the card appears above it (since this is later in the document order). */
  z-index: 2;
}

.options-loading {
  display: flex;
  justify-content: center;
}

.options-loading-gif {
  margin-top: 150px;
  max-height: 100px;
}

.options-promo-frame {
  position: relative;
}

.options-promo-frame-close {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
