body {
    padding: 16px 16px 0 16px;
}

h1 {
    color: var(--magical-gray-80);
    flex-grow: 1;
    font-size: 16px;
    line-height: 22px;
}

p {
    font-size: 14px;
    margin: 0;
}

img {
    max-width: 100%;
}

.children { 
    margin-bottom: 10px;
}

#variable-help-learn {
    padding: 5px;
    text-align: center;
}

.variables-insert-help-graphic {
    padding: 10px 0;
}

.unsupported-site-graphic {
    margin-bottom: 10px;
  }
  
.visit-community-button {
    margin-top: 10px;
    margin-bottom: 25px;
}

#autosuggest-shortcut-learn {
    text-align: center;
}
  
.autosuggest-shortcut-graphic {
    margin-top: 10px;
    border-radius: 8px;
}

.autosuggest-settings {
    cursor: pointer;
    color: var( --magical-primary-40);
}

.time-saved {
    background: var(--magical-secondary-10);
    border-radius: 8px;
    color: var(--magical-secondary-80);
    font-weight: 700;
    font-size: 14px;
    width: fit-content;
    padding: 5px;
    display: flex;
    align-items: center;
}

.time-saved > svg {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
  