body {
  padding: 0 24px;
}

.header {
  margin-block-start: 24px;
}

h1 {
  padding: 0;
  float: none;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
}

.hostname {
  font-weight: bold;
}

.button-medium + .button-medium {
  margin-left: 5px;
  flex-grow: 0.5;
}

.snooze-buttons {
  display: flex;
}

.hide {
  flex-grow: 0.5;
}
