/* This file is injected into web content and as such all
   selectors must be ensured to be unique to Magical to prevent
   these styles from getting applied outside of the Magical UI. */

.ha-invisible {
    visibility: hidden;
}  

#ha-container-parent,
#ha-container-parent *::before,
#ha-container-parent *::after,
.ha-container,
.ha-container *::before,
.ha-container *::after {
    all: initial;
}

#ha-container-parent {
    /* Be sure to test in a Salesforce modal and on GSheets when making changes. */
    left: 0;
    position: absolute;
    top: 0;
    /* Needed so the `right` property on the child is relative to the right of the body. */
    width: 100%;
}

.ha-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: var(--magical-dropdown-max-width);
    min-width: 300px;
    /* The dropdown is temporary and should appear above all other UI while it's open. */
    z-index: 2147483647;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    background: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Magical DM Sans', sans-serif;
    font-size: 14px;
}

.ha-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    background: white;
    opacity: 1;
    overflow-y: auto;
    max-height: 190px;
}

/* Increases the max height of the ul container when the snippet header isn't shown */
.ha-container .ha-snippet-header[hidden] + ul{
    max-height: 250px;
}

.ha-container ul hr {
    border: none;
    border-top: 1px solid #D8DFE7;
    margin: 7px 0 7px 0;
    margin-left: 35px;
}

.ha-item {
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.ha-group-header-item {
    display: flex;
    align-items: center;
    color: #4B5056;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
}

.ha-item .ha-suggestion-icon {
    padding: 5px 15px 0 5px;
}

.ha-group-header-item .ha-suggestion-icon img {
    width: 14px;
    height: 14px;
    vertical-align: baseline;
}

.ha-container li.ha-highlight{
    background: #0000FF;
}

.ha-container li.ha-highlight .ha-suggestion-content{
    color: #FFFFFF;
}

.ha-container li.ha-highlight .ha-suggestion-content .ha-item-img{
    fill: #FFFFFF;
}

.ha-item .ha-suggestion-content {
    color:rgb(34, 37, 40);
    display:flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.ha-item .ha-suggestion-content,
.ha-group-header-item .ha-suggestion-content {
    align-items: left;
    min-width: 0;
}

/* Override styles from normalize.css and Salesforce */
.ha-suggestion-content .ha-item-img img {
    max-width: none;
    vertical-align: inherit;
}

.ha-suggestion-content .ha-no-match-title {
    color: #222528;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
}

.ha-suggestion-content .ha-no-match-body {
    color: #4B5056;
    line-height: 20px;
    margin-right: 15px;
    width: 210px;
}

.ha-suggestion-content .ha-item-img {
    margin-right: 5px;
    padding-right: 3px;
    padding-left: 7px;
    width: auto;
    height: 16px;
    fill: #323539;
}

.ha-suggestion-content .ha-item-label {
    font-weight: bold;
}

.ha-suggestion-content .ha-item-separator {
    padding-left: 3px;
    padding-right: 3px;
}

.ha-group-header-item .ha-suggestion-content .ha-identifier {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4B5056;
    padding-left: 5px;
}

.ha-item .ha-suggestion-content .ha-value {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ha-item .ha-suggestion-content .ha-value.ha-hyperlink {
    text-decoration: underline;
}

.ha-suggestion-content.ha-missing {
    color: #6F747C;
}

.ha-item .ha-suggestion-content .ha-open-page {
    display: none;
    margin-left: auto;
}

.ha-highlight .ha-suggestion-content .ha-open-page {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.ha-container li.ha-no-match {
    cursor: default;
    white-space: normal;
    padding: 10px 0px 10px 15px;
}

.ha-container li.ha-no-match .ha-suggestion-content{
    flex-direction: column;
    white-space: normal;
    align-items: baseline;
}

.ha-container .ha-snippet-header {
    color: #4B5056;
    line-height: 20px;
    margin-top: 12px;
    padding: 4px 12px;
    white-space: normal;
    padding-left: 12px;
    background: #E9EEF4;
}

.ha-container .ha-footer {
    flex-direction: row;
    border-top: 1px solid #D8DFE7;
    margin-top: 12px;
    height: 31px;
}

.ha-container .ha-footer img {
    box-sizing: content-box;
    width: auto;
    height: auto;
    float: right;
    padding: 7px 12px 0px 0px;
    width: 16px;
}

.ha-container .ha-footer .ha-footer-text {
    padding-top: 6px;
}

.ha-container .ha-footer a,
.ha-container .ha-footer a:visited,
.ha-container .ha-footer a:hover {
    color: #4B5056;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
}
