.variables-list {
  padding: 5px;
}

.variables-list ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.variables-list ul {
  margin: 0px;
  padding: 0px;
}

.variables-list li {
  margin-bottom: 4px;
  font-size: 14px;
  padding: 4px;
  background: #D7FFCF;
  border-radius: 8px;
  border: 1px dashed #06AA00;
  color: var(--magical-secondary-80);
}

.variables-list li.split-modifier {
  background: var(--magical-secondary-00);
  color: var(--magical-secondary-70);
}

.variables-list .icon-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 5px;
  height: 16px;
}

.variables-list li.missing {
  color: #222528;
  background: #EBF1F8;
  border: 1px dashed #969DA6;
}

.variables-list li .source-variable-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--magical-secondary-80);
}

.variables-list li .source-variable-label {
  font-weight: bold;
}

.variables-list li .source-variable-separator {
  padding-left: 3px;
  padding-right: 3px;
}

.variables-list li.hyperlink .source-variable-value {
  text-decoration: underline;
}

.variables-list li.missing .source-variable-value {
  color: #222528;
}

.variables-list li .actionable-source-icon {
  margin-right: 5px;
  display: none;
  height: 21px;
  width: 21px;
  padding-left: 2px;
}

.variables-list li .actionable-source-icon:hover {
  fill: var(--magical-primary-60);
  background-color: var(--magical-primary-10);
  border-radius: 12px;
}

.variables-list li .actionable-source-icon:hover:active {
  background-color: var(--magical-primary-20);
}

.variables-list li.split-modifier .split-icon {
  cursor: default;
  line-height: 15px;
}

.variables-list li.split-modifier .split-icon svg {
  fill: var(--magical-secondary-80);
}

.variables-list li .promote-demote {
  padding-right: 5px;
  cursor: pointer;
}

.variables-list li:not(.read-only):hover .actionable-source-icon {
  display: inline-block;
}

.variables-list .x-icon {
  height: 21px;
  width: 21px;
  padding-left: 3px;
}

.variables-list .x-icon:hover {
  fill: var(--magical-primary-60);
  background-color: var(--magical-primary-10);
  border-radius: 12px;
}

.variables-list .x-icon:hover:active {
  background-color: var(--magical-primary-20);
}

.view-variables .delete-variables {
  justify-content: center;
  display: flex;
}
