h1 {
    font-size: 24px;
}

h3 {
    font-size: 14px;
    margin-top: 0px;
}

iframe {
    max-width: 270px;
    border: 1px solid var(--magical-gray-30);
    border-radius: 12px;
    min-height: 150px;
}

p {
    color: black;
    font-weight: 400;
    font-size: 14px;
}

.pro-beta-upgrade-buttons {
    display: flex;
    margin-top: 20px;
}

.pro-beta-upgrade-buttons > button, 
.pro-beta-upgrade-buttons > a {
    flex-grow: 1;
}
