/* GCHAT HEADER COLOR */
.Ik {background-color: #111!important;}

/* GCHAT SECOND HEADER COLOR */
.EV {background-color: #0B0B0B!important;}

/* ICONS */
.Xv {filter: invert(40%)!important;}
.OK {filter: invert(40%)!important;}
.NHBen {filter: invert(40%)!important;}
.Cyynpc {filter: invert(40%)!important;}
.yq6mRd {filter: invert(40%)!important;}

/* ICON HOVER */
.Ik .qp:hover {background-color: #333!important;}

.iN {background: #000!important;}

/* GCHAT MESSAGE TEXT COLOR */
.TsiDff {color: #ccc!important;}

/* GCHAT MESSAGE AREA BG COLOR */
.My {background-color: #111!important;}
.kq>.My {border: 1px solid #000!important;}

/* GCHAT TIMESTAMP */
.TlvAYc {color:#555!important;}

/* TEXT BUBBLE BG */
.pj .KRQuhe {background-color: #000!important;}
.pj .jHldnd {border: 8px solid #000!important;}

.Sn .KRQuhe {background-color: #000!important;}
.Sn .jHldnd {border: 8px solid #000!important;}

/* MESSAGE TEXT COLOR  */
.pj .JL {color:#999!important;}
.pj .JL a {color:#064A88!important;}

.Sn .JL {color:#999!important;}
.Sn .JL a {color:#064A88!important;}

/* VIDEO CALL MESSAGE BG */
.yV {background-color: #222!important;}

/* STICKERS */
.bC7CXb {background-color: #000!important;border: none!important;}
.vf6xyf {background-color: #333!important;}
.Hy.Th96Ob {background-color: #111!important;}
.Hy.Th96Ob .IM {background-color: #333!important;}

/* ATTACHMENT BG */
.ROOcAc {border: 1px solid #444!important;background-color: #333;}

/* SCROLL BAR */
.a-E::-webkit-scrollbar {background: #222!important;}