@import url('../../shared-ui-components/variables.css');
@import url('../../shared-ui-components/fonts.css');

.view-share-cta {
  /* There is no time saved footer on this view */
  padding-bottom: 0;
}

.view-share-cta h1 {
  font-size: 24px;
  margin-top: 0;
}

.view-share-cta .copy-share {
  margin-top: 20px;
}

.view-share-cta .time-saved-phrases {
  color: var(--magical-secondary-70);
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.view-share-cta .time-container {
  background: linear-gradient(90deg, #AFFBA3 0%, #D7FFCF 100%);
  border-radius: 8px;
  padding: 12px 24px;
  display: flex;
  vertical-align: auto;
  flex-direction: column;
  justify-content: center;
}

.view-share-cta .time-container > div {
  display: flex;
  flex-direction: column;
}

.view-share-cta .timer-sentence {
  color: var(--magical-secondary-80);
  font-size: 16px;
  text-align: center;
}

.view-share-cta .time {
  color: var(--magical-secondary-70);
  font-size: 36px;
  padding-top: 4px;
  font-weight: bold;
  text-align: center;
  line-height: calc(32 / 36);
}

.view-share-cta hr {
  height: 1px;
  color: var(--magical-gray-20);
}

.view-share-cta .graphic-share {
  margin-top: 20px 20px 0 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.share-inline-copy {
  width: 100%;
  display: inline-flex;
}

.share-inline-copy input.share-url {
  background: white;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--magical-gray-20);
  border-right-width: 0;
  color: black;
  font-size: 14px;
  padding: 8px;
  width: 100%;
  font: inherit;
}

.share-inline-copy button {
  background-color: var(--magical-primary-60);
  border-radius: 0 5px 5px 0;
  color: #efefef;
  padding: 6px 11px;
  border: 1px solid var(--magical-gray-20);
  font-weight: 700;
}

.share-inline-copy button:focus {
  background-color: var(--magical-green-60);
}
