:root {
    --fc-button-border-color: transparent;
    --fc-button-bg-color: transparent;
    --fc-button-text-color: gray;

    --fc-button-hover-bg-color: transparent;
    --fc-button-hover-border-color: transparent;

    --fc-button-active-bg-color: transparent;

    --fc-button-active-border-color: transparent;
}

.mini-calendar {
    --fc-highlight-color: transparent;
}

.mini-calendar.fc .fc-toolbar-title {
    font-weight: normal;
    font-size: large;
    margin-inline-start: 14px;
}

html[lang='fa'] .mini-calendar.fc .fc-toolbar-title {
    font-size: 12px;
}

.mini-calendar.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 5px;
}

.mini-calendar.fc th {
    font-weight: normal;
}

.mini-calendar.fc-theme-standard td, .mini-calendar.fc-theme-standard th {
    border: none;
}

.mini-calendar.fc .fc-scrollgrid {
    border: none;
}

.fc-daygrid-day-number,
.mini-calendar .fc-daygrid-day {
    cursor: pointer;
    border-radius: 50%;
}

.fc-daygrid-day:not(.fc-day-today) .fc-daygrid-day-number:hover,
.mini-calendar .fc-daygrid-day:hover {
    transition: background-color 0.1s ease-in;
}

.fc-daygrid-day:not(.fc-day-today) .fc-daygrid-day-number:hover,
.mini-calendar .fc-daygrid-day:hover,
.mini-calendar .fc-daygrid-day.selected:not(.fc-day-today) {
    background-color:#e0e0e0;
}

#betaCalendar .fc-day-today .fc-col-header-cell-cushion {
    border-radius: 5px;
}

.mini-calendar .fc-day-today,
#betaCalendar .fc-day-today .fc-col-header-cell-cushion {
    --fc-today-bg-color: transparent;
    color: white;
    background-color: var(--today-date-bg-color) !important;
}

.mini-calendar .fc-day-today.fc-day-other .fc-daygrid-day-top {
    opacity: 1;
}

.mini-calendar .fc-daygrid-day-top {
    justify-content: center;
}

.mini-calendar.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    display: none;
}

.mini-calendar.fc .fc-button-primary {
    border-radius: 50%;
}

.mini-calendar.fc .fc-button-primary:hover {
    color: black;
}

.mini-calendar.fc .fc-button-primary:focus {
    box-shadow: none !important;
}