
@font-face {
    font-family: "Poppins";
    src: url(/fonts/assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/assets/fonts/Poppins-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url(/fonts/assets/fonts/Poppins-Medium.ttf);
    font-weight: 600;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Poppins", sans-serif;
}
#app {
    height: 100vh;
    width: 100vw;
}



.side-menu .hamburger[data-v-82e2f6a4] {
  cursor: pointer;
  height: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
}
.side-menu .hamburger span[data-v-82e2f6a4] {
  display: block;
  width: 21px;
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  height: 0.19em;
  z-index: 1;
}
.side-menu .menu[data-v-82e2f6a4] {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  height: 240px;
  width: 175px;
  background: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
  transition: all .3s ease-in-out;
  padding: 5px;
  z-index: 4;
}
.close[data-v-82e2f6a4] {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  height: 20px;
  cursor: pointer;
  width: max-content;
}
.close[data-v-82e2f6a4]:after {
  position: relative;
  content: "\d7";
  font-size: 34px;
  color: #939393;
  font-weight: 400;
  top: 0;
  left: 125px;
}
.side-menu .menu .items a[data-v-82e2f6a4] {
  display: block;
  padding: 5px;
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}
.side-menu .menu .items a[data-v-82e2f6a4]:hover {
  text-decoration: underline;
}
.slide-enter-active[data-v-82e2f6a4], .slide-leave-active[data-v-82e2f6a4] {
  transition: opacity .5s;
  margin-right: 0;
}
.slide-enter[data-v-82e2f6a4], .slide-leave-to[data-v-82e2f6a4] {
  opacity: 0;
  margin-right: -200px;
}



.profile[data-v-50167e01] {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 15px;
    padding-left: 15px;
    transition: all .3s ease-in-out;
}
.profile .profile-wrapper[data-v-50167e01] {
    position: relative;
    filter: grayscale(1);
    cursor: pointer;
    box-shadow: 3px 4px 4px 2px #e1e0e0;
    border-radius: 100%;
    transition: all .3s ease-in-out;
}
.profile .profile-wrapper[data-v-50167e01]:hover {
    transform: scale(1.1);
}
.profile .profile-wrapper img[data-v-50167e01] {
    border-radius: 100%;
    width: 80px;
    transition: all .3s ease;
    z-index: 2;
    position: relative;
}
.profile .profile-wrapper:not(.active) .avatar[data-v-50167e01] {
    border: 1px solid #eaeaea;
}
.profile .profile-wrapper:not(.active) .border[data-v-50167e01] {
    width: 95px;
    height: 95px;
    left: -8px;
    top: -7px;
}
.profile .profile-wrapper .cover[data-v-50167e01] {
    position: absolute;
    left: -4px;
    top: -3px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: white;
    border-radius: 100%;
}
.profile .profile-wrapper .check[data-v-50167e01] {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: -12px;
    left: 8px;
    border-radius: 100%;
    z-index: 3;
    background: #ffffff url(/img/tick.svg) no-repeat center;
    transition: all .3s ease-in-out;
}
.profile .profile-wrapper .border[data-v-50167e01] {
    position: absolute;
    left: -11px;
    right: 0;
    bottom: 0;
    top: -9px;
    width: 98px;
    height: 99px;
    z-index: 0;
    content: ' ';
    background: white;
    border-radius: 100%;
}
.profile .profile-wrapper .edit-image[data-v-50167e01] {
    position: absolute;
    height: 35px;
    left: -5px;
    right: 0;
    top: 15px;
    padding: 5px;
    cursor: pointer;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.profile .profile-wrapper:hover .edit-image[data-v-50167e01] {
    visibility: visible;
}
.profile .profile-wrapper:hover .tooltip[data-v-50167e01] {
    display: block;
}
.tooltip[data-v-50167e01] {
    display: none;
    position: absolute;
    z-index: 5;
    bottom: -5px;
    background: linear-gradient(90deg, #FFE4D5 0%, #FFF3E4 67.19%);
    border-radius: 4px;
    padding: 4px;
    width: 73px;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 11px;
}
.profile .profile-wrapper.active .cover[data-v-50167e01] {
    background: linear-gradient(39.51deg, #C6CAFF 15.52%, #8BDCFF 84.73%);
}
.fade-enter-active[data-v-50167e01], .fade-leave-active[data-v-50167e01] {
    transition: opacity .5s;
}
.fade-enter[data-v-50167e01], .fade-leave-to[data-v-50167e01] {
    opacity: 0;
}
.active[data-v-50167e01] {
    filter: none !important;
}
.active[data-v-50167e01]:hover {
    transform: none !important;
    cursor: initial !important;
}
.small-avatars[data-v-50167e01] {
    width: 70px !important;
}
.small-cover[data-v-50167e01] {
    width: 78px !important;
}
.small-check[data-v-50167e01] {
    position: absolute !important;
    width: 27px !important;
    height: 27px !important;
    bottom: -9px !important;
    left: 6px !important;
}
.profile .avatar.small-avatars .profile-wrapper[data-v-50167e01] {
    box-shadow: none;
}




.top-bar[data-v-010483d6] {
    width: 100%;
    background: no-repeat center/100% url(/img/top_bar/wave-header-big.svg);
    height: 168px;
}
.top-bar .top-bar-menu[data-v-010483d6] {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px 0;
}
.top-bar .top-bar-menu span[data-v-010483d6] {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    margin-right: 30px;
}
.top-bar .profiles[data-v-010483d6] {
    margin-top: 20px;
}
.small[data-v-010483d6] {
    background: no-repeat center/100% url(/img/top_bar/wave-header-small.svg);
    height: 83px;
}



.rounded-button[data-v-d0a98cd2] {
    height: 50px;
    min-width: 110px;
    line-height: 12px;
    background: linear-gradient(0deg, #1AE5FF -58.9%, #64E8F9 -4.88%, #EAEEEE 88.06%);
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
    position: relative;
    margin: auto;
    transition: all .5s ease-in-out;
}
.rounded-button[data-v-d0a98cd2]:hover {
    background: linear-gradient(135deg, #1AE5FF 73.67%, #64E8F9 82.52%, #EAEEEE 97.74%);
}
.rounded-button[data-v-d0a98cd2]:focus {
    outline: none;
}
.rounded-button[data-v-d0a98cd2]::before {
    position: absolute;
    content: '';
    left: 4px;
    top: 4px;
    background: #ffff;
    width: 26px;
    height: 20px;
    transform: rotate(-2deg);
    background: url(/img/button/shiny-left.svg) no-repeat;
}
.rounded-button[data-v-d0a98cd2]::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 1px;
    background: #ffff;
    width: 33px;
    height: 25px;
    background: url(/img/button/shiny-right.svg) no-repeat;
    transform: rotate(-7deg);
}
.rounded-button a[data-v-d0a98cd2] {
    background: -webkit-linear-gradient(#349CC9, #6C328E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}


.button-with-icon[data-v-77c318ee] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 100%;
}
.button-with-icon[data-v-77c318ee]:hover {
    transform: scale(1.1);
}
.button-with-icon img[data-v-77c318ee] {
    width: 24px;
    height: 24px;
}
.button-with-icon span[data-v-77c318ee] {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
}



.input-with-button[data-v-602b76da] {
    background: #FFFFFF;
    border: 0.2em solid #D9BEEF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 240px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all .1s ease-in-out;
}
.input-with-button label[data-v-602b76da] {
    width: 85%;
    height: 100%;
}
.input-with-button label input[data-v-602b76da] {
    width: 175px;
    max-width: 175px;
    height: 32px;
    font-size: 30px;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
    letter-spacing: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-indent: 18px;
    position: relative;
    padding: 0;
    margin: 0;
}
.input-with-button label input[data-v-602b76da]::-webkit-outer-spin-button,
.input-with-button label input[data-v-602b76da]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-with-button label input[type=number][data-v-602b76da] {
    -moz-appearance: textfield;
}
.input-with-button label .place-holder[data-v-602b76da] {
    position: absolute;
    top: -30px;
    bottom: 0;
    font-size: 60px;
    left: 33px;
    color: #D9BEEF;
    letter-spacing: 15px;
    cursor: text;
}
.input-with-button label input[data-v-602b76da]:focus {
    outline: none;
}
.input-with-button .submit[data-v-602b76da] {
    background: #4C499F;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 36px;
    margin-right: 2px;
    text-align: center;
}
.input-with-button .submit img[data-v-602b76da] {
    width: 18px;
    height: 18px;
}
.input-with-button .visible[data-v-602b76da] {
    cursor: pointer;
    margin: 5px;
    height: 18px;
    width: 18px;
}
.visibility[data-v-602b76da] {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.input-with-button .visible img[data-v-602b76da] {
    width: 20px;
    height: 20px;
}
.input-with-button .error[data-v-602b76da] {
    background: linear-gradient(90deg, #FFE4D5 0%, #FFF3E4 67.19%);
    border-radius: 5px;
    width: 220px;
    height: 39px;
    position: absolute;
    bottom: -53px;
    left: -23px;
    right: 0;
    margin: auto;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}
.input-with-button .error[data-v-602b76da]:after {
    content: ' ';
    position: absolute;
    background: #FFE4D5;
    transform: rotate(45deg);
    top: -4px;
    left: 33px;
    width: 15px;
    height: 15px;
}
.input-with-button .error .error-tries[data-v-602b76da] {
    border-radius: 100%;
    background: white;
    height: 20px;
    width: 20px;
    box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.1);
}



.tip[data-v-38abe81a] {
    background: linear-gradient(90deg, #FFE4D5 0%, #FFF3E4 67.19%);
    border-radius: 5px;
    width: 280px;
    height: max-content;
    position: absolute;
    bottom: -53px;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}
.tip[data-v-38abe81a]:after {
    content: ' ';
    position: absolute;
    background: #FFF3E4;
    transform: rotate(45deg);
    top: -4px;
    width: 15px;
    height: 15px;
}
.tip .close[data-v-38abe81a] {
    margin: 10px;
    cursor: pointer;
}
.tip .close[data-v-38abe81a]:after {
    position: absolute;
    content: "\d7";
    font-size: 25px;
    color: #939393;
    font-weight: 400;
    top: -5px;
    right: 7px;
}



.parent-with-password[data-v-8ac0d4b0] {
    text-align: center;
    position: relative;
}
.parent-with-password .input[data-v-8ac0d4b0] {
    margin-top: 15px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-8ac0d4b0;
}
.parent-with-password .content[data-v-8ac0d4b0] {
    margin-top: 15px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-8ac0d4b0;
}
.parent-with-password .content .desc[data-v-8ac0d4b0] {
    width: 285px;
    margin: 5px auto auto;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-8ac0d4b0;
}
.parent-with-password .tip[data-v-8ac0d4b0] {
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-8ac0d4b0;
}
@keyframes fadeInUp-data-v-8ac0d4b0 {
0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
}
100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}


.parent-without-password[data-v-a1887fa8] {
    text-align: center;
}
.parent-without-password .question-wrapper[data-v-a1887fa8] {
    width: 100%;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-a1887fa8;
}
.parent-without-password .question-wrapper span[data-v-a1887fa8] {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #333333;
}
.parent-without-password .input[data-v-a1887fa8] {
    margin-top: 15px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-a1887fa8;
}
.parent-without-password .content[data-v-a1887fa8] {
    margin-top: 25px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-a1887fa8;
}
.parent-without-password .content .desc[data-v-a1887fa8] {
    width: 250px;
    margin: 15px auto auto;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-a1887fa8;
}
@keyframes fadeInUp-data-v-a1887fa8 {
0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
}
100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}



.logged-in-frame .content[data-v-5abff584] {
    position: relative;
}
.logged-in-frame .content .current-engine[data-v-5abff584] {
    background: #F6F6F6;
    border-radius: 8px;
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-5abff584;
}
.logged-in-frame .content .desc[data-v-5abff584] {
    margin-top: 15px;
    background: linear-gradient(90deg, #FFE4D5 0%, #FFF3E4 67.19%);
    border-radius: 5px;
    width: 270px;
    height: max-content;
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 0;
    top: 50px;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-5abff584;
}
.logged-in-frame .content .desc[data-v-5abff584]:after {
    content: ' ';
    position: absolute;
    top: -12px;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #FFF3E4 transparent;
}
.logged-in-frame .content .desc p[data-v-5abff584] {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #3E3E3E;
    width: 280px;
    margin: auto;
    text-align: left;
}
.logged-in-frame .content .current-engine .engine[data-v-5abff584] {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background: -webkit-linear-gradient(rgba(104, 126, 208, 1) 54%, rgba(112, 42, 138, 1) 24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-5abff584;
}
.logged-in-frame .action-buttons[data-v-5abff584] {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(177deg, #687ED5 28%, #702A8A 100%), #282A2A;
    height: 40px;
}
.logged-in-frame .dividing-line[data-v-5abff584] {
    position: absolute;
    height: 40px;
    top: 0;
    right: 50%;
    width: 1px;
    background: #ffffff;
    bottom: 0;
    z-index: 9999999;
}
.logged-in-frame .tip[data-v-5abff584] {
    top: 180px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-5abff584;
}
.kid-background[data-v-5abff584] {
    background: -webkit-linear-gradient(rgba(240, 139, 229, 1) 54%, rgba(238, 108, 108, 1) 24%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
@keyframes fadeInUp-data-v-5abff584 {
0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 35%, 0);
        transform: translate3d(0, 35%, 0);
}
100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}



.parent-first-time p[data-v-f7e563f4] {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #3E3E3E;
    margin-top: 5px;
    margin-bottom: 14px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-f7e563f4;
}
.parent-first-time .desc[data-v-f7e563f4] {
    width: 200px;
    margin: auto;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-f7e563f4;
}
.parent-first-time .button[data-v-f7e563f4] {
    margin-top: 30px;
    width: 165px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-f7e563f4;
}
@keyframes fadeInUp-data-v-f7e563f4 {
0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
}
100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}



.parent[data-v-0f3301f2] {
    text-align: center;
}





.kid[data-v-f54f1b56] {
    text-align: center;
}


.main[data-v-49866f0b] {
  height: max-content;
  width: 100%;
}
.main .title-wrapper[data-v-49866f0b] {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
.main .title-wrapper span[data-v-49866f0b] {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #603690;
}




.drop-down[data-v-435517ee] {
    width: 100%;
    margin: auto;
    text-align: center;
}
.drop-down .title[data-v-435517ee] {
    display: block;
    font-size: 9px;
    width: max-content;
    margin-left: 35px;
}
.drop-down .box[data-v-435517ee] {
    width: 260px;
    height: 30px;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    position: relative;
}
.drop-down .box[data-v-435517ee]:after {
    width: 6px;
    height: 6px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: absolute;
    right: 12px;
    content: " ";
    top: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.drop-down .selected[data-v-435517ee] {
    margin-left: 2px;
    width: 62px;
}
.drop-down .box span[data-v-435517ee] {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #3E3E3E;
}
.drop-down .items[data-v-435517ee] {
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}
.drop-down .items.show .box[data-v-435517ee]:after {
    -webkit-transform: rotate(225deg) !important;
    transform: rotate(225deg) !important;
    background-color: black;
}
.drop-down ul[data-v-435517ee] {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.drop-down ul li[data-v-435517ee] {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 35px;
    border-bottom: 1px solid #e4e4e4;
}
.drop-down ul li[data-v-435517ee]:hover {
    background: #F7F7F7;
}





.text-input[data-v-ceedbe16] {
    width: 100%;
    text-align: center;
    margin: auto;
    position: relative;
}
.text-input span[data-v-ceedbe16] {
    display: block;
    font-size: 9px;
    width: max-content;
    margin-left: 35px;
}
.text-input .box input[data-v-ceedbe16] {
    width: 260px;
    height: 30px;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
}
.text-input .box input[data-v-ceedbe16]:focus {
    outline: none;
    border: 0.2em solid #D9BEEF;
}
.text-input .success[data-v-ceedbe16] {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 18px;
    height: 18px;
}


.number-input[data-v-25451a59] {
    width: 100%;
    text-align: center;
    margin: auto;
    position: relative;
}
.number-input span[data-v-25451a59] {
    display: block;
    font-size: 9px;
    width: max-content;
    margin-left: 35px;
}
.number-input .error[data-v-25451a59] {
    position: absolute;
    right: 35px;
    top: 0;
    color: red;
}
.number-input .box[data-v-25451a59] {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.number-input .box input[data-v-25451a59] {
    width: 260px;
    height: 30px;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
}
.number-input .box input[data-v-25451a59]:focus {
    outline: none;
    border: 0.2em solid #D9BEEF;
}
.number-input .visible[data-v-25451a59] {
    position: absolute;
    right: 40px;
    top: 19px;
    cursor: pointer;
}
.number-input .success[data-v-25451a59] {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 18px;
    height: 18px;
}
.number-input .box label input[data-v-25451a59]::-webkit-outer-spin-button,
.number-input .box label input[data-v-25451a59]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.number-input .box label input[type=number][data-v-25451a59] {
    -moz-appearance: textfield;
}
.visibility[data-v-25451a59] {
    filter: invert(0%) sepia(96%) saturate(0%) hue-rotate(126deg) brightness(10%) contrast(104%);
}
.fade-enter-active[data-v-25451a59], .fade-leave-active[data-v-25451a59] {
    transition: opacity .5s;
}
.fade-enter[data-v-25451a59], .fade-leave-to[data-v-25451a59] {
    opacity: 0;
}


.avatars[data-v-5e38ae12] {
    position: absolute;
    width: 290px;
    height: 380px;
    z-index: 6;
    top: 55px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #F9FCFE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.avatars .top[data-v-5e38ae12] {
    display: inline-flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.avatars .top .title[data-v-5e38ae12] {
    font-size: 15px;
    font-weight: bold;
}
.avatars .top .close[data-v-5e38ae12] {
    margin: 10px;
    cursor: pointer;
}
.avatars .top .close[data-v-5e38ae12]:after {
    position: absolute;
    content: "\d7";
    font-size: 31px;
    color: #939393;
    font-weight: 400;
    top: 1px;
    right: 15px;
}
.avatars .items[data-v-5e38ae12] {
    text-align: center;
}
.avatars .items img[data-v-5e38ae12] {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    box-shadow: 0 3px 9px 1px #cecece;
    margin: 5px;
    cursor: pointer;
}
.avatars .items .action-button[data-v-5e38ae12] {
    width: 165px;
}
.selected[data-v-5e38ae12] {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    -moz-border-image: 0 5 5 5 repeat repeat;
    -webkit-border-image: 0 5 5 5 repeat repeat;
    -o-border-image: 0 5 5 5 repeat repeat;
    border-image: 0 5 5 5 repeat repeat;
    border-color: #702A8A;
}




.settings[data-v-3f069916] {
  height: max-content;
  width: 100%;
}
.settings .back[data-v-3f069916] {
  padding-left: 28px;
  padding-top: 15px;
  cursor: pointer;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-3f069916;
}
.settings .content[data-v-3f069916] {
  text-align: center;
  margin-top: 10px;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-3f069916;
}
.settings .content span[data-v-3f069916] {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #3E3E3E;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-3f069916;
}
.settings .content .desc[data-v-3f069916] {
  width: 250px;
  margin: 2px auto auto;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-3f069916;
}
.settings .options[data-v-3f069916] {
  margin-top: 20px;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-3f069916;
}
.settings .options .profile[data-v-3f069916] {
  width: 100%;
  justify-content: space-evenly;
  padding-left: 25px;
  padding-right: 25px;
}
.settings .options .input[data-v-3f069916] {
  margin-top: 15px;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-3f069916;
}
@keyframes fadeInUp-data-v-3f069916 {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 9%, 0);
    transform: translate3d(0, 9%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}


.rounded-button[data-v-1be09da0] {
    height: 50px;
    min-width: 150px;
    max-width: 200px;
    line-height: 12px;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
    position: relative;
    transition: all .5s ease-in-out;
}
.adult[data-v-1be09da0] {
    background: linear-gradient(0deg, #1AE5FF -58.9%, #64E8F9 -4.88%, #EAEEEE 88.06%);
}
.adult[data-v-1be09da0]:hover {
    background: linear-gradient(135deg, #1AE5FF 73.67%, #64E8F9 82.52%, #EAEEEE 97.74%);
}
.kid[data-v-1be09da0] {
    background: linear-gradient(0deg, #6A3590 -58.9%, #F5BAFF -4.88%, #FFE8FA 88.06%);
}
.rounded-button[data-v-1be09da0]:focus {
    outline: none;
}
.rounded-button[data-v-1be09da0]::before {
    position: absolute;
    content: '';
    left: 4px;
    top: 4px;
    background: #ffff;
    width: 26px;
    height: 20px;
    transform: rotate(-2deg);
    background: url(/img/button/shiny-left.svg) no-repeat;
}
.rounded-button[data-v-1be09da0]::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 1px;
    background: #ffff;
    width: 33px;
    height: 25px;
    background: url(/img/button/shiny-right.svg) no-repeat;
    transform: rotate(-7deg);
}
.rounded-button a[data-v-1be09da0] {
    background: -webkit-linear-gradient(#349CC9, #6C328E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}


.image-item img[data-v-3401c8ff] {
  max-width: 100%;
}


.kid[data-v-176fcef8] {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.kid img[data-v-176fcef8] {
  visibility: visible;
  animation-duration: 1.2s;
  animation-name: fadeInUp-data-v-176fcef8;
}
.kid .content[data-v-176fcef8] {
  width: 370px;
}
.kid .content span[data-v-176fcef8] {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-176fcef8;
}
.kid .content .action-button[data-v-176fcef8] {
  margin-top: 30px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-176fcef8;
}
@keyframes fadeInUp-data-v-176fcef8 {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.kid[data-v-176fcef8] {
    flex-direction: column;
    text-align: center;
}
.kid img[data-v-176fcef8] {
    max-width: 200px;
}
.kid .action-button[data-v-176fcef8] {
    margin: auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.kid img[data-v-176fcef8] {
    max-width: 250px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.kid img[data-v-176fcef8] {
    max-width: 100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.kid img[data-v-176fcef8] {
    max-width: 100%;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.kid img[data-v-176fcef8] {
    max-width: 100%;
}
}




.welcome[data-v-918e37c0] {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}
.welcome .img[data-v-918e37c0] {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-918e37c0;
}
.welcome .content[data-v-918e37c0] {
  display: flex;
  flex-direction: column;
  height: 370px;
  justify-content: space-around;
}
.welcome .content .title[data-v-918e37c0] {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-918e37c0;
}
.welcome .content .desc[data-v-918e37c0] {
  width: 335px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #333333;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-918e37c0;
}
.welcome .content .action-buttons[data-v-918e37c0] {
  display: flex;
  width: 100%;
  justify-content: space-between;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-918e37c0;
}
.welcome .content .how-it-works[data-v-918e37c0] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-918e37c0;
}
.welcome .content .how-it-works a[data-v-918e37c0] {
  text-decoration: underline;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}
@keyframes fadeInUp-data-v-918e37c0 {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.welcome[data-v-918e37c0] {
    flex-direction: column;
    text-align: center;
}
.welcome img[data-v-918e37c0] {
    max-width: 200px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.welcome img[data-v-918e37c0] {
    max-width: 250px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.welcome img[data-v-918e37c0] {
    max-width: 100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.welcome img[data-v-918e37c0] {
    max-width: 100%;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.welcome img[data-v-918e37c0] {
    max-width: 100%;
}
}



.number-input[data-v-0964a432] {
  width: max-content;
  text-align: center;
  position: relative;
}
.number-input .error[data-v-0964a432] {
  background: linear-gradient(90deg, #FFE4D5 0%, #FFF3E4 67.19%);
  border-radius: 5px;
  width: 220px;
  height: 39px;
  position: absolute;
  bottom: -53px;
  left: -23px;
  margin: auto;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  z-index: 1;
  justify-content: space-evenly;
}
.number-input .error[data-v-0964a432]:after {
  content: ' ';
  position: absolute;
  top: -12px;
  border-style: solid;
  border-width: 0 13px 12px 13px;
  border-color: transparent transparent #FFF3E4 transparent;
}
.number-input .box[data-v-0964a432] {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.number-input label .place-holder[data-v-0964a432] {
  position: absolute;
  top: -26px;
  bottom: 0;
  font-size: 60px;
  left: 33px;
  color: #E2E2E2;
  letter-spacing: 6px;
  cursor: text;
}
.number-input .box input[data-v-0964a432] {
  width: 175px;
  max-width: 175px;
  height: 40px;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 25px;
  letter-spacing: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-indent: 18px;
  position: relative;
  padding: 0;
  margin: 0;
}
.number-input .box input[data-v-0964a432]:focus {
  outline: none;
}
.number-input .box label input[data-v-0964a432]::-webkit-outer-spin-button,
.number-input .box label input[data-v-0964a432]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input .box label input[type=number][data-v-0964a432] {
  -moz-appearance: textfield;
}



.age-validation[data-v-682a57d4] {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}
.age-validation img[data-v-682a57d4] {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-682a57d4;
}
.age-validation .content[data-v-682a57d4] {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 450px;
  justify-content: center;
  margin-left: 40px;
}
.age-validation .content .title[data-v-682a57d4] {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-682a57d4;
}
.age-validation .content .desc[data-v-682a57d4] {
  width: 280px;
  font-size: 14px;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-682a57d4;
}
.age-validation .content .action-button[data-v-682a57d4] {
  width: 165px;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-682a57d4;
}
.age-validation .content .input[data-v-682a57d4] {
  width: 100%;
  margin-top: 35px;
  text-align: left;
  margin-bottom: 25px;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-682a57d4;
}
@keyframes fadeInUp-data-v-682a57d4 {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.age-validation[data-v-682a57d4] {
    flex-direction: column;
    text-align: center;
}
.age-validation img[data-v-682a57d4] {
    max-width: 230px;
}
.age-validation .content[data-v-682a57d4] {
    align-items: center;
}
.age-validation .content .input[data-v-682a57d4] {
    text-align: center;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.age-validation img[data-v-682a57d4] {
    max-width: 290px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.age-validation img[data-v-682a57d4] {
    max-width: 100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.age-validation img[data-v-682a57d4] {
    max-width: 100%;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.age-validation img[data-v-682a57d4] {
    max-width: 100%;
}
}



.tooltip[data-v-360d65b4] {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: 3px;
    background: #FFF3E4;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    color: #686767;
}
.tooltip .tooltiptext[data-v-360d65b4] {
    visibility: hidden;
    width: 250px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: -15px;
    background: linear-gradient(90deg, #FFE4D5 0%, #FFF3E4 67.19%);
    border-radius: 8px;
    margin-right: -15px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #292542;
    text-align: left;
}
.tooltip:hover .tooltiptext[data-v-360d65b4] {
    visibility: visible;
}
.tooltip .tooltiptext[data-v-360d65b4]:after {
    content: ' ';
    position: absolute;
    top: -12px;
    right: 25px;
    border-style: solid;
    border-width: 0 13px 12px 13px;
    border-color: transparent transparent #FFF3E4 transparent;
}


.set-up-password[data-v-04410576] {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}
.set-up-password img[data-v-04410576] {
  width: 370px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-04410576;
}
.set-up-password .content[data-v-04410576] {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 325px;
}
.set-up-password .content .title[data-v-04410576] {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-04410576;
}
.set-up-password .content .desc[data-v-04410576] {
  width: 340px;
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 14px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-04410576;
}
.set-up-password .content .input[data-v-04410576] {
  margin-top: 30px;
  margin-bottom: 28px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-04410576;
}
.set-up-password .content .action-buttons[data-v-04410576] {
  width: 420px;
  display: inline-flex;
  align-items: center;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-04410576;
}
.set-up-password .content .action-buttons a[data-v-04410576] {
  font-size: 13px;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 10px;
}
@keyframes fadeInUp-data-v-04410576 {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.set-up-password[data-v-04410576] {
    flex-direction: column;
    text-align: center;
}
.set-up-password img[data-v-04410576] {
    max-width: 200px;
}
.set-up-password .content .desc[data-v-04410576] {
    margin: auto;
}
.set-up-password .content .input[data-v-04410576] {
    margin: auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.set-up-password img[data-v-04410576] {
    max-width: 290px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.set-up-password img[data-v-04410576] {
    max-width: 100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.set-up-password img[data-v-04410576] {
    max-width: 100%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.set-up-password img[data-v-04410576] {
    max-width: 100%;
}
}




.math-validation[data-v-9a5ca45a] {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}
.math-validation img[data-v-9a5ca45a] {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-9a5ca45a;
}
.math-validation .content[data-v-9a5ca45a] {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 325px;
  justify-content: space-evenly;
}
.math-validation .content .title[data-v-9a5ca45a] {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-9a5ca45a;
}
.math-validation .content .desc[data-v-9a5ca45a] {
  width: 280px;
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 14px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-9a5ca45a;
}
.math-validation .content .question[data-v-9a5ca45a] {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-9a5ca45a;
}
.math-validation .content .action-button[data-v-9a5ca45a] {
  margin-top: 15px;
  width: 150px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-9a5ca45a;
}
@keyframes fadeInUp-data-v-9a5ca45a {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.math-validation[data-v-9a5ca45a] {
    flex-direction: column;
    text-align: center;
}
.math-validation img[data-v-9a5ca45a] {
    max-width: 200px;
}
.math-validation .content .input[data-v-9a5ca45a], .math-validation .content .action-button[data-v-9a5ca45a] {
    margin: auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.math-validation img[data-v-9a5ca45a] {
    max-width: 290px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.math-validation img[data-v-9a5ca45a] {
    max-width: 100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.math-validation img[data-v-9a5ca45a] {
    max-width: 100%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.math-validation img[data-v-9a5ca45a] {
    max-width: 100%;
}
}


.tip[data-v-814d0268] {
  width: 270px;
  height: 330px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FBFBFB 100%);
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.tip span[data-v-814d0268] {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
}




.finish-setup[data-v-e2cef930] {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.finish-setup .img[data-v-e2cef930] {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-e2cef930;
  position: absolute;
}
.finish-setup .top-image-left[data-v-e2cef930] {
  top: 30px;
  left: 40px;
}
.finish-setup .top-image-right[data-v-e2cef930] {
  top: 30px;
  right: 20px;
}
.finish-setup .content[data-v-e2cef930] {
  width: 100%;
  text-align: center;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-e2cef930;
}
.finish-setup .content .title[data-v-e2cef930] {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #333333;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-e2cef930;
}
.finish-setup .content .desc[data-v-e2cef930] {
  width: 445px;
  font-size: 14px;
  margin: auto;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-e2cef930;
}
.finish-setup .tips[data-v-e2cef930] {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 70px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-e2cef930;
}
.finish-setup .tip[data-v-e2cef930] {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp-data-v-e2cef930;
}
.finish-setup .tip[data-v-e2cef930]:nth-child(1) {
  animation-duration: .5s;
}
.finish-setup .tip[data-v-e2cef930]:nth-child(2) {
  animation-duration: 1.0s;
}
.finish-setup .tip[data-v-e2cef930]:nth-child(3) {
  animation-duration: 1.5s;
}
@keyframes fadeInUp-data-v-e2cef930 {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.finish-setup[data-v-e2cef930] {
    flex-direction: column;
    text-align: center;
}
.finish-setup img[data-v-e2cef930] {
    width: 100px;
}
.finish-setup .content .title[data-v-e2cef930] {
    font-size: 20px;
}
.finish-setup .content .desc[data-v-e2cef930] {
    font-size: 12px;
    width: 210px;
}
.finish-setup .tips .tip[data-v-e2cef930] {
    width: 150px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.finish-setup[data-v-e2cef930] {
    flex-direction: column;
    text-align: center;
}
.finish-setup img[data-v-e2cef930] {
    width: 100px;
}
.finish-setup .content .title[data-v-e2cef930] {
    font-size: 20px;
}
.finish-setup .content .desc[data-v-e2cef930] {
    font-size: 12px;
    width: 210px;
}
.finish-setup .tips[data-v-e2cef930] {
    margin-top: 40px;
}
.finish-setup .tips .tip[data-v-e2cef930] {
    width: 215px;
    height: 300px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.finish-setup img[data-v-e2cef930] {
    width: 120px;
}
.finish-setup .content .title[data-v-e2cef930] {
    font-size: 38px;
}
.finish-setup .content .desc[data-v-e2cef930] {
    font-size: 14px;
    width: 440px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.finish-setup img[data-v-e2cef930] {
    width: 135px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.finish-setup img[data-v-e2cef930] {
    width: 175px;
}
.finish-setup .tips .tip[data-v-e2cef930] {
    width: 270px;
    height: 330px;
}
}



.how-it-works[data-v-208b00d9] {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}
.how-it-works video[data-v-208b00d9] {
    width: 490px;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-208b00d9;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 0 4px 1px #cecece;
}
.how-it-works .content[data-v-208b00d9] {
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-around;
}
.how-it-works .content .title[data-v-208b00d9] {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-208b00d9;
}
.how-it-works .content .action-button[data-v-208b00d9] {
    animation-duration: 1s;
    animation-name: fadeInUp-data-v-208b00d9;
}
@keyframes fadeInUp-data-v-208b00d9 {
0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 70%, 0);
        transform: translate3d(0, 70%, 0);
}
100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.how-it-works[data-v-208b00d9] {
        flex-direction: column;
        text-align: center;
}
.how-it-works .content .action-button[data-v-208b00d9] {
        margin: auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.how-it-works video[data-v-208b00d9] {
        width: 400px;
}
.how-it-works .content[data-v-208b00d9] {
        text-align: center;
}
.how-it-works .content .action-button[data-v-208b00d9] {
        margin: auto;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.how-it-works video[data-v-208b00d9] {
        width: 400px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.how-it-works video[data-v-208b00d9] {
        width: 430px;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.how-it-works video[data-v-208b00d9] {
        width: 490px;
}
}



.on-boarding[data-v-b3c580b4] {
    height: inherit;
    display: flex;
    background: url(/img/site/background.svg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: all 1s;
}
.on-boarding .card[data-v-b3c580b4] {
    width: 977px;
    height: 580px;
    background: #ffffff;
    margin: auto;
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    transition: all 1s;
}
.fade-enter-active[data-v-b3c580b4], .fade-leave-active[data-v-b3c580b4] {
    transition: opacity .5s;
}
.fade-enter[data-v-b3c580b4], .fade-leave-to[data-v-b3c580b4] {
    opacity: 0;
}
@keyframes fadeInUp-data-v-b3c580b4 {
0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
}
100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.on-boarding .card[data-v-b3c580b4] {
        width: 515px;
        height: 600px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.on-boarding .card[data-v-b3c580b4] {
        width: 710px;
        height: 485px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.on-boarding .card[data-v-b3c580b4] {
        width: 845px;
        height: 485px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.on-boarding .card[data-v-b3c580b4] {
        width: 900px;
        height: 485px;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.on-boarding .card[data-v-b3c580b4] {
        width: 977px;
        height: 580px;
}
}




